#contact {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-box {
    width: clamp(100px, 90%, 1000px);
    margin: 80px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
#contact h1 {
    font-size: 6vw;
    margin-left: 50%;
    transform: translate(-50%, 0%);
  }
  #contact {
    display: grid;
    justify-content: center;
    width: 100%;
  }
  
  .contact-links,
  .contact-form-wrapper {
    width: 50%;
    padding: 8% 5% 10% 5%;
  }
  
  .contact-links {
    background-color: #1f2e43;
    background: url("https://img.freepik.com/free-photo/3d-render-handshake-icon-isolated-business-concept_107791-15671.jpg?w=1060&t=st=1696254591~exp=1696255191~hmac=2795584d814837de3b77295efaa467cc5fbd7e38e2eff7e999e0bffb57547013");
    background-size: contain;
    border-radius: 10px 0 0 10px;
    background-repeat: no-repeat;
  }
  
  .contact-form-wrapper {
    background-color: #ffffff8f;
    border-radius: 0 10px 10px 0;
  }
  
  @media only screen and (max-width: 800px) {
    .contact-links,
    .contact-form-wrapper {
      width: 100%;
    }
  
    .contact-links {
      border-radius: 10px 10px 0 0;
    }
  
    .contact-form-wrapper {
      border-radius: 0 0 10px 10px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .contact-box {
      width: 100%;
    }
  }
  
  h2 {
    font-family: "Arimo", sans-serif;
    color: #fff;
    font-size: clamp(30px, 6vw, 60px);
    letter-spacing: 2px;
    text-align: center;
    transform: scale(0.95, 1);
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  
  .link {
    margin: 10px;
    cursor: pointer;
  }
  
  .contact-image {
    width: 45px;
    height: 45px;
    filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #0006);
    transition: 0.2s;
    user-select: none;
  }
  
  .contact-image:hover {
    transform: scale(1.1, 1.1);
  }
  
  .contact-image:active {
    filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #222) sepia(0.3);
  }
  
  .form-item {
    position: relative;
  }
  
  label,
  input,
  textarea {
    font-family: "Poppins", sans-serif;
  }
  
  label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
  }
  
  input,
  textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
  }
  
  input:focus + label,
  input:valid + label,
  textarea:focus + label,
  textarea:valid + label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all 0.225s ease;
  }
  
  .submit-btn {
    background-color: #fd917e;
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
  }
  
  .submit-btn:hover {
    transform: scale(1.1, 1.1);
  }
  
  .submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
  }
  
  @media only screen and (max-width: 800px) {
    h2 {
      font-size: clamp(40px, 10vw, 60px);
    }
  }
  
  @media only screen and (max-width: 400px) {
    h2 {
      font-size: clamp(30px, 12vw, 60px);
    }

    .contact-box{
        width: 100%;
    }
    .links {
      padding-top: 30px;
    }
  
    .contact-image {
      width: 38px;
      height: 38px;
    }
  }
  
