@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Black Ops One", cursive;
}

.main {
  position: relative;
}

.hero-container > h4 {
  color: black;
  background: rgba(365, 305, 300, 0.88);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 85%;
  font-size: 590%;
  font-weight: 100;
  position: absolute;
  z-index: -99;
}
video {
  object-fit: cover;
  z-index: -1;
  overflow-y: hidden;
  margin-top: -2%;
  filter: blur(3);
}

.hero-container {
  height: 100vh;
  width: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
}



.hero-img {
  width: 50%;
}

@media screen and (max-width: 800px) {
  video {
    object-fit: contain;
    margin-left: -45%;
    width: max-content;
  }

  .main {
    margin-top: -5%;
  }

  .hero-container {
    height: auto;
  }

  /* .main > .content {
    padding: 15%;
    justify-content: center;
    display: flex;
  } */

  
}

@media screen and (max-width: 762px) {
  video {
    object-fit: contain;
    margin-left: -45%;
    width: max-content;
  }

  .main {
    margin-top: -5%;
  }

  .hero-container {
    height: auto;
  }

  /* .main > .content {
    padding: 15%;
    justify-content: center;
    display: flex;
  } */

 
}

@media screen and (max-width: 820px) {
  .hero-container{
    width: 100%;
    height: 100%;
  }
  img{
    width: 100%;
    height: 100%;
    z-index: 99;
  }
}

@media screen and (max-width: 921px) {
  .hero-container{
    width: 250%;
    height: 150%;
  }
  img{
    width: 100%;
    height: 100%;
    margin-left: -11%;
    z-index: 99;
  }
  .hero-container > h4{
    font-size: 55px;
    width: 35%;
    margin-left: -65%;
  }
}

@media screen and (max-width: 280px) {
  .hero-container > h4{
    font-size: 242%;
  }
}

@media screen and (max-width: 1024px) and (max-width: 1280px) {
}
