* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  #work {
    width: 85%;
    min-height: 50vh;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #work h4 {
    font-size: 5vw;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .line {
    width: 40px;
    height: 3px;
    margin-right: 20px;
    background-color: black;
  }
  
  #work h1 {
    font-size: 8vw;
      display: flex;
      justify-content: center;
  }
  
  .btn {
    margin-top: 5%;
    background-color: turquoise;
    border: none;
    cursor: grab;
    padding: 2vw;
    color: white;
      border-radius: 10px;
    transform: translate(50%, 0%);
  }
  
  #samples {
    display: flex;
  }
  
  .smpl {
    width: 100%;
    height: 100%;
    margin: 20px;
  }
  
  #samples #left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 120%;
    height: 100%;
  }
  
  #samples #right {
    width: 50%;
    margin-top: 80%;
    margin-right: 14%;
  }
  
  .smpl img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 4px 4px 7px 2px black;
  }
  
  @media screen and (max-width: 800px) {
    #samples {
      display: flex;
    }
    #samples #left {
      width: 1250%;
      height: 120%;
    }
  
    #work h1 {
      
    }
  
    #samples #right {
      width: 250%;
      margin-top: 50%;
    }
  
    #left img {
      width: 50%;
      height: 50%;
    }
    #samples #right img {
      width: 100%;
    }
  
    .smpl {
      width: 150%;
      height: 150%;
    }
  
    .btn {
      margin-top: 5%;
      background-color: turquoise;
      color: white;
      width: fit-content;
      transform: translate(40%, 0%);
    }
  
    .smpl img {
      width: 100%;
      height: 100%;
    }
  }
  
  @media screen and (max-width: 500px) {
    #samples {
      display: block;
      padding: 12px;
      width: 100%;
      height: 100%;
    }
  
    #samples #left {
      width: 100%;
      height: 100%;
    }
  
    #samples #left .smpl img {
      width: 100%;
      height: fit-content;
      box-shadow: none;
    }
  
    .btn {
      margin-top: 5%;
      background-color: turquoise;
      color: white;
      padding: 20px;
      width: fit-content;
      transform: translate(10%, 0%);
    }
  
    #samples #right {
      width: 50%;
      mix-blend-mode: color-burn;
    }
  }
  
  @media screen and (max-width: 972px) {
    #samples {
      display: block;
      padding: 12px;
      width: 100%;
      height: 100%;
    }
  
    #samples #left {
      width: 100%;
      height: 100%;
    }
  
    #samples #left .smpl img {
      width: 100%;
      height: fit-content;
      box-shadow: none;
    }
  
    .btn {
      margin-top: 5%;
      background-color: turquoise;
      color: white;
      padding: 20px;
      width: fit-content;
      transform: translate(10%, 0%);
    }
  
    #samples #right {
      width: 50%;
      transform: translate(50%, 0);
      mix-blend-mode: color-burn;
    }
  }
  
  @media screen and (max-width: 762px) {
    #samples {
      display: block;
      padding: 12px;
      width: 100%;
      height: 100%;
    }
  
    #samples #left {
      width: 100%;
      height: 100%;
    }
  
    #samples #left .smpl img {
      width: 100%;
      height: fit-content;
      box-shadow: none;
    }
  
    .btn {
      margin-top: 5%;
      background-color: turquoise;
      color: white;
      padding: 20px;
      width: fit-content;
      transform: translate(10%, 0%);
    }
  
    #samples #right {
      width: 50%;
      transform: translate(50%, 0);
      mix-blend-mode: color-burn;
    }
  }
  
